<div>
  <div ng-controller='gistController'>
    <h1>zeGists List</h1>
      <ul>
  <!--       <a href="#/gists/:id"> -->
        <li class='gists' ng-repeat='gist in gists'>

          <h3 class='gists_description'>
            Description : {{ gist.description }}
            <button ng-click="customNavigate(gist.id)">SELECT</button>
            <button ng-click="deleteGist(gist.id)">DELETE</button>
          </h3>
            <h4>
             Date created : {{ gist.created_at }}
            </h4>
          <ul>
            <li class='gists_file' ng-repeat='file in gist.files'>
            File Name: {{ file.filename }}

            </li>
            <!-- </a> -->
          </ul>
        </li>
      </ul>
  <button ng-click="go('/new')">ADD NEW</button>

  </div>
</div>