<div ng-controller='newGistController'>
  <form name='subNewGists'>

    <div>
      <label>File Name
        <input type='text' ng-model='newGist.fileName'>
      </label>
    </div>

    <div>
      <label>Description
        <input type='text' ng-model='newGist.description'>
      </label>
    </div>

    <div>
      <label>Content
       <input type='text' ng-model='newGist.content'>
      </label>
    </div>

    <div>
      <label>File Type
        <input type='text' name='fileType' ng-model='newGist.filetype' required>
      </label>
      <div role="alert">
        <span class="error" style='color:red' ng-show="subNewGists.fileType.$error.required">
         Required - ('txt', 'js', 'hmtl' or 'css') </span>
      </div>
    </div>

    <div>
      <button type='button' ng-disabled='subNewGists.$invalid' ng-click='create(newGist)'>#</button>
    </div>
  </form>
</div>