<div ng-controller='newGistController'>
  <fieldset>

    <div>
      <label>File Name
      <input type='text' ng-model='newGist.fileName'>('.txt')
      </label>
    </div>

    <div>
      <label>Description
      <input type='text' ng-model='newGist.description'>
      </label>
    </div>

    <div>
      <label>Content
      <input type='text' ng-model='newGist.content'>
      </label>
    </div>

    <div>
      <button type='button' ng-click='create(newGist)'>#</button>
    </div>
  </fieldset>
</div>