<div ng-controller='newGistController'>
  <form name='subNewGists'>

    <div>
      <button type='button' ng-disabled='subNewGists.$invalid' ng-click='create(newGist)'>#</button>
    </div>

    <div>
      <label>File Name
        <input type='text' class='inputField' ng-model='newGist.fileName'>
      </label>
    </div>

    <div>
      <label>Description
        <input type='text' class='inputField' ng-model='newGist.description'>
      </label>
    </div>

    <div>
      <label>File Type
        <input type='text' class='inputField' name='fileType' ng-model='newGist.filetype' required>
      </label>
      <div role="alert">
        <span class="error" style='color:red' ng-show="subNewGists.fileType.$error.required">
         Required - ('txt', 'js', 'hmtl' or 'css') </span>
      </div>
    </div>

    <div>
      <label>Content
      <textarea class='inputField' id='content' cols="50" rows="10" ng-model='newGist.content'></textarea>
<!--        <input type='text' class='inputField' id='content' ng-model='newGist.content'> -->
      </label>
    </div>



  </form>
</div>